<div class="image-container">
  <div class="Personagem-form">
    <form>
        <div class="titulo">
            <span>Arma</span>
        </div>
        <div class="form-group">
          <p>Nome: <a id="nome">Ainda nao tem</a></p>
        </div>
        <div class="form-group">
          <p>Durabilidade : <a id="durabi">txt</a></p>
        </div>
        <div class="form-group">
          <p>Ataque : <a id="ataque">txt</a></p>
        </div>
        <div class="form-group">
          <button [routerLink]="['/creategun']" type="button" class="btn btn-block create-personagem">Criar Arma</button>
      </div>
    </form>
    <div class="gun">
      <img src="../../../assets/media/gun.gif" width="250">
    </div>
  </div>
